# Supabase
VITE_SUPABASE_URL=https://ypjxavvzemmxsoiptejm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vRavmo2HmTowwBalq_igJA_AfflpJ4J

# Admin Dashboard Password (muda isto antes de fazer deploy)
VITE_ADMIN_PASSWORD=NewGeneration2026
